/*
**************************************************************
  @authors : Akeel M.N.M
  Registration Number : IT19153414
************************************************************
*/

/* --------------- Header Styling---------------------------*/
#HeadDiv{

    background-color: #254441;
    height: 70px;
}

#HeadTitle{
    font-size: 35px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

/* --------------- Footer Styling---------------------------*/

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    background: #254441;
    width: 100%;
    height: 72px;
    margin-top: 50px;
}

#copyright{
    margin-left: 10px;
    margin-top: 25px;
    width: 80%;
    height: 30px;
}

#contInfoLabel {
    color: white;
    font-size: 16px;
    display: inline-block;
}

#about-footer {
    margin-left: 54%;
    margin-top: 1.3%;
    width: 20%;
}
